@charset "UTF-8";

a:link, a:visited { text-decoration: none; color: inherit;}

table { border-top: 2px solid #6610f2 !important;}
table th { background-color: #76b2ff !important;}
table th, td {border-right: 1px solid #fc7f7f;}
table th:last-child, td:last-child{border-right: none;}