@charset "UTF-8";

body * {  vertical-align: middle;}

a:link, a:visited { text-decoration: none; color: inherit;}

a.text-link:hover {text-decoration: underline; font-weight: bold;}

table { border-top: 2px solid #6610f2 !important;}
table th { background-color: #76b2ff !important;}
table th, td {border-right: 1px solid #fc7f7f;}
table th:last-child, td:last-child{border-right: none;}
table.tb-list tr {height: 48px;}
table.tb-row tr {height: 60px;}
table.tb-list th, table.tb-list td { padding: 0px 16px; text-align: center;}

