@charset "UTF-8";

body * {  vertical-align: middle;}

a:link, a:visited { text-decoration: none; color: inherit;}

a.text-link:hover {text-decoration: underline; font-weight: bold;}

table { border-top: 2px solid #6610f2 !important;}
table th { background-color: #76b2ff !important;}
table th, td {border-right: 1px solid #fc7f7f;}
table th:last-child, td:last-child{border-right: none;}
table.tb-list tr {height: 48px;}
table.tb-row tr {height: 60px;}
table.tb-list th, table.tb-list td { padding: 0px 16px; text-align: center;}

.profile {width: 38px; height: 38px; border-radius: 50%;}
.font_profile { font-size: 30px;}

.w-pct80{ width: 80%;}
.w-pct60{ width: 60%;}
.w-pct40{ width: 40%;}
.w-px40 { width: 40px !important;}
.w-px60 { width: 60px !important;}
.w-px80 { width: 80px !important;}
.w-px100 { width: 100px !important;}
.w-px120 { width: 120px !important;}
.w-px150 { width: 150px !important;}
.w-px180 { width: 180px !important;}
.w-px200 { width: 200px !important;}
.w-px250 { width: 250px !important;}
.w-px300 { width: 300px !important;}

