<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


    <context:property-placeholder location="classpath:dbconn/db.properties" />
    <bean class="org.apache.commons.dbcp2.BasicDataSource" id="dbcp_hanul">
        <property name="driverClassName" value="${driver}" />
        <property name="url" value="${url}"/>
        <property name="username" value="${hanul.username}" />
        <property name="password" value="${hanul.password}" />
    </bean>
    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="factory_hanul">
        <property name="dataSource" ref="dbcp_hanul" />
        <property name="mapperLocations" value="classpath:sqlmap/*-mapper.xml" />
        <property name="configLocation" value="classpath:sqlmap/typeConfig.xml" />
    </bean>

    <bean class="org.mybatis.spring.SqlSessionTemplate" id="hanul">
        <constructor-arg name="sqlSessionFactory" ref="factory_hanul" />
    </bean>


    <bean class="org.apache.commons.dbcp2.BasicDataSource" id="dbcp_hr">
        <property name="driverClassName" value="${driver}" />
        <property name="url" value="${url}"/>
        <property name="username" value="${hr.username}" />
        <property name="password" value="${hr.password}" />
    </bean>
    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="factory_hr">
        <property name="dataSource" ref="dbcp_hr" />
        <property name="mapperLocations" value="classpath:sqlmap/*-mapper.xml" />
        <property name="configLocation" value="classpath:sqlmap/typeConfig.xml" />
    </bean>

    <bean class="org.mybatis.spring.SqlSessionTemplate" id="hr">
        <constructor-arg name="sqlSessionFactory" ref="factory_hr" />
    </bean>

    <bean class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder"/>
    <!-- <bean class="kr.co.smart.common.CommonUtility"/> -->

    <bean class="org.apache.commons.dbcp2.BasicDataSource" id="dbcp_A">
        <property name="driverClassName" value="${driver}" />
        <property name="url" value="${urlA}"/>
        <property name="username" value="${TeamA.username}" />
        <property name="password" value="${TeamA.password}" />
    </bean>
    <bean class="org.mybatis.spring.SqlSessionFactoryBean" id="factory_A">
        <property name="dataSource" ref="dbcp_A" />
        <property name="mapperLocations" value="classpath:sqlmap/*-mapper.xml" />
        <property name="configLocation" value="classpath:sqlmap/typeConfig.xml" />
    </bean>

    <bean class="org.mybatis.spring.SqlSessionTemplate" id="TeamA">
        <constructor-arg name="sqlSessionFactory" ref="factory_A" />
    </bean>


</beans>