<?xml version="1.0" encoding ="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="data">


    <!-- 공지답글등록 -->
    <insert id="insert">
        insert into hospitals ( name, location, contact)
        values (#{name}, #{location , jdbcType=VARCHAR}, #{contact , jdbcType=VARCHAR})
    </insert>

</mapper>