<?xml version="1.0" encoding ="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

    <insert id="joinTest">
        insert into member (user_id, user_pw, name, email, role)
        values (#{user_id},#{user_pw},#{name},#{email}, #{role})
    </insert>

    <select id="today" resultType="string">
        select to_char(sysdate, 'yyyy-mm-dd') from dual
    </select>

    <select id="info" resultType="memberVO">
        select * from member
        where user_id = #{user_id}
    </select>

    <select id="useridEmail" resultType="memberVO">
        select * from member
        where user_id = #{user_id} and email = #{email}
    </select>
    <update id="resetPassword">
        update member
        set user_pw = #{user_pw}
        where user_id = #{user_id}
    </update>

    <insert id="join">
        insert into member
        (user_id, user_pw, name, email, gender, phone, post, address, birth, profile, social)
        values (#{user_id},#{user_pw, jdbcType=VARCHAR},#{name},
                #{email, jdbcType=VARCHAR},#{gender, jdbcType=VARCHAR},
                #{phone, jdbcType=VARCHAR},#{post, jdbcType=VARCHAR},
                #{address, jdbcType=VARCHAR},#{birth, jdbcType=VARCHAR},
                #{profile, jdbcType=VARCHAR}, #{social, jdbcType=VARCHAR})
    </insert>

    <update id="update">
        update member
        set name = #{name}, email = #{email, jdbcType=VARCHAR},
            gender = #{gender, jdbcType=VARCHAR}, phone = #{phone, jdbcType=VARCHAR},
            address = #{address, jdbcType=VARCHAR}, post = #{post, jdbcType=VARCHAR},
            birth = #{birth, jdbcType=VARCHAR}, profile = #{profile}
        where user_id = #{user_id}


    </update>
</mapper>